# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/

# ignore everything in the "wp-content" directory, except:
# plugins and themes directories
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/index.php/
wp-content/uploads/

# ignore all plugins and themes
# unless explicitly whitelisted at the end of this file
wp-content/themes/*

# ignore index.php in plugins folder
wp-content/plugins/index.php

# ignore all files starting with . or ~
.*
~*

# track these files, if they exist
!.gitignore
